<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "the" %>
  <i><%= link_to t("tutorial"), "http://www.railstutorial.org/" %></i>
  <%= t "isa" %>
  <%= link_to t("book"), "http://www.railstutorial.org/book" %>
  <%= t "and" %>
  <%= link_to t("screencast"), "http://screencasts.railstutorial.org/" %>
  <%= t "teach" %>
  <%= link_to t("ruby"), "http://rubyonrails.org/" %>
  <%= t "sample" %>
</p>
