<% provide :title, t("help") %>
<h1><%=t "help" %></h1>
<p>
  <%= t "helpahead" %>
  <%= link_to t("helpamid"), "http://www.railstutorial.org/help" %>.
  <%= t "helpamid" %>
  <i><%= link_to t("tutorial") << t("book"), 
    "http://www.railstutorial.org/book" %></i>.
</p>
