<h1><%= t "passreset.passreset" %></h1>
<p><%= t "passreset.des" %></p>
<%= link_to t("passreset.resetpass"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t "passreset.expire" %></p>
<p><%= t "passreset.ifnot" %></p>
